<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<nav>
    <a href="/">Home</a>
    <a href="/menu">Full Menu</a>
</nav>

<body>
    <h1>Full Menu</h1>
    <ul>
        <% menu.forEach((menu, index)=> { %>
            <li>
                <%= menu.name %>,
                    $<%= menu.price %>,
                        <%= menu.rating %> ★'s,
                            <%= menu.details %>
            </li>

            <% }) %>
    </ul>
</body>

</html>